<p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id)%></p>

<%- #override resource default route  -%>
<%- #rake routes prefix: portfolio uri:  /portfolios/:id(.:format) -%>

<p><%= portfolio_item.subtitle%></p>
<p><%= portfolio_item.body%></p>
<p><%= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil? %></p>
<%= link_to "Edit", edit_portfolio_path(portfolio_item.id) if logged_in?(:site_admin)%>
<%= link_to 'Destroy', portfolio_path(portfolio_item.id), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%>
<%- #the reason why rails knows which portfolio_path has to be is that after path we add method: delete -%>
