<%= image_tag @portfolio_item.main_image if !@portfolio_item.main_image.nil?  %>
<p><% @portfolio_item.title %></p>
<em><%= @portfolio_item.subtitle%></em>
<p><%= @portfolio_item.body%></p>

<p> Used Technologies </p>
<% @portfolio_item.technologies.each do |t| %>
<p><%= t.name %></p>
<% end %>
<% #there was <%= and it printed something i didn't want %>

<%= link_to "Show all portfolio", portfolios_path %>

<hr>

<% session.inspect %>

<hr>

<%= params.inspect %>
