<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>" >

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/nav", location: 'top' %>

    <%= login_helper %>
    <% #view helper %>

    <%= yield %>

    <%= @copyright %>
    <% #yield gives way and allows you to slide in any of the other templates that are being called %>
    <%= source_helper("application") %>
    <% #content helper %>

    <%= set_copyright %>

  </body>
</html>
